// variables.scss

// Colors

$black: #111 !default;
$grey-darker: #222324 !default;
$grey-dark: #69707a !default;
$grey: #aeb1b5 !default;
$grey-light: #d3d6db !default;
$grey-lighter: #f5f7fa !default;
$white: #fff !default;

$blue: #42afe3 !default;
$green: #97cd76 !default;
$orange: #f68b39 !default;
$purple: #847bb9 !default;
$red: #ed6c63 !default;
$turquoise: #1fc8db !default;
$yellow: #fce473 !default;


$body-background: $grey-lighter !default;

$font-stack: Helvetica, sans-serif;
$primary-color: $grey-darker;
