// card.scss

.card {
    background-color: $white;
    border: 1px solid $grey-lighter;
    padding: 8px;
    border-radius: 2px;
    -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.15);
    -moz-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.15);
    box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.15);
}

.card h1 {
    margin-bottom: 5px;
    font-size: $size-4;
}
