$black: #121212;
$grey: #d2d2d2;
$white: #ffffff;
$blue: #3E5C7a;
$red: #D6492f;

.black {
    background-color: $black !important;
}
.black-text {
    color: $black !important;
}

.white {
    background-color: $white !important;
}
.white-text {
    color: $white !important;
}

$body-background: lighten($grey, 15%);
 $primary-color: $blue;
