$black: #121212;
$grey: #d2d2d2;
$white: #ffffff;
$blue: #3E5C7a;
$red: #D6492f;

$body-background: lighten($grey, 15%);
$primary-color: $blue;
$colors: ( 'blue': $blue , 'red': $red , 'white': $white , 'black': $black );
@each $name, $value in $colors {
    .#{$name} {
        background-color: $value !important;
    }
    .#{$name}-text {
        color: $value !important;
    }
}
